# list

In [2]:
thislist = ['nana','amma','sis','bro']
print(thislist)

['nana', 'amma', 'sis', 'bro']

In [3]:
print([1,2,24,56])

[1, 2, 24, 56]

In [4]:
print(['red',1,44,'blue'])

['red', 1, 44, 'blue']

In [5]:
print([])

[]

In [6]:
thislist = ['nana','amma','sis','bro']
print(thislist[1])

amma

# dictionaries

In [7]:
purse = dict()
purse ['money'] = 12
purse ['chocolate'] = 3
purse ['tissues'] = 76
print(purse)

{'money': 12, 'chocolate': 3, 'tissues': 76}

In [8]:
print(purse['chocolate'])

3

In [11]:
purse['tissues'] = purse['tissues'] = 90
print(purse)

{'money': 12, 'chocolate': 3, 'tissues': 90}

In [12]:
jjj = {'chuck':1,'fred':19,'jan':'100'}
print(jjj)

{'chuck': 1, 'fred': 19, 'jan': '100'}

In [13]:
jjj={}
print(jjj)

{}

# sets

In [15]:
cars = {'bmw','audi','lamb'}
print(cars)

{'bmw', 'lamb', 'audi'}

In [16]:
cars = {'bmw','audi','lamb'}
cars.add('ferrari')
print(cars)

{'bmw', 'ferrari', 'lamb', 'audi'}

In [19]:
cars = {'bmw','ferrari','audi','lamb'}
cars.remove('ferrari')
print(cars)

{'bmw', 'lamb', 'audi'}

In [24]:
set1 = {'a','b','c','d'}
set2 = {1, 2, 3, 4}

set3 = set1.union(set2)
print(set3)

{1, 'a', 'c', 2, 3, 4, 'b', 'd'}

In [25]:
my_set = {1, 2, 3}
print(my_set)
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{'Hello', 1.0, (1, 2, 3)}

# tuples

In [26]:
x = ('gleen','sally','joseph')
print(x)

('gleen', 'sally', 'joseph')

In [27]:
y = (1,9,2)
print(y)

(1, 9, 2)

In [28]:
print(max(y))

9

In [29]:
for iter in y:
    print(iter)

1
9
2

In [31]:
(x,y) = ('lamb','bmw')
print(x)

lamb

# strings

In [32]:
s = 'foobar'
s[0]

'f'

In [33]:
s[3]

'b'

In [34]:
string = 'dell'
print(len(string))

4

In [35]:
fruit = 'banana'
'n' in fruit

True

In [36]:
fruit = 'banana'
's' in fruit

False